<div>
  <h2>LOGIN</h2>
  <form method="post" action="/auth/login">
    <div>
      <label>Email:</label>
      <input type="text" name="email" placeholder="Your email here..">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" placeholder="Super secret password here..">
    </div>
    <input type="submit" value="Login"> <p>Not a member? <a href="/auth/signup">Sign up now!</a></p>
  </form>
</div>