<% if(alerts.error) { %>
  <% alerts.error.forEach(function(msg){ %>
    <div class="alert z-depth-3">
      <%= msg %>
    </div>
  <% }); %>
<% } %>

<% if(alerts.success) { %>
  <% alerts.success.forEach(function(msg){ %>
    <div class="alert z-depth-3">
      <%= msg %>
    </div>
  <% }); %>
<% } %>