<footer id="footer" class="page-footer #546e7a blue-grey darken-2">
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Stuff
    <a class="grey-text text-lighten-4 right" href="https://github.com/ashco">Created by AshCo</a>
    </div>
  </div>

</footer>