<div id="portfolio-add" class="modal">
	<div class="modal-header #546e7a blue-grey darken-2">
		<h4>What do you HODL?</h4>
	</div>
	<div class="modal-content">
		<div class="row">
			<form class="col s12 portfolio-form">
				<div class="row">
					<div class="col s12 portfolio-form-row">
						Symbol:
						<div class="input-field inline">
							<input value="BTC">
							<!-- <label for="email" data-error="wrong" data-success="right">Email</label> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 portfolio-form-row">
						Price (USD):
						<div class="input-field inline">
							<input value="14,321.43">
							<!-- <label for="email" data-error="wrong" data-success="right">USD</label> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 portfolio-form-row">
						Amount:
						<div class="input-field inline">
							<input id="holding" type="number" step="any" class="validate">
							<!-- <label>HODLings</label> -->
						</div>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="col s12 portfolio-form-row">
							Total USD:
							<div class="input-field inline">
								<input id="" value="100,432.54" disabled>								<!-- <label for="email" data-error="wrong" data-success="right">Email</label> -->
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer #546e7a blue-grey darken-2">
		<!-- <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cancel</a> -->
		<a href="#!" class="modal-action modal-close waves-effect waves-light btn #f57c00 orange darken-2">Add</a>
	</div>
</div>