<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project 2: RE:crypt</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Datatable CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css"> -->
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <!-- Navbar -->

    <% include partials/navbar.ejs %>

    <!-- Main Section -->
    <section id="main">
      <div class="container">
        <div class="row">

          <!-- Main Nav -->
          <% include partials/alerts.ejs %>

          <%- body %>

        </div>
      </div>
    </section>

    <!-- Footer  -->
    <% include partials/footer.ejs %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Datatable JS -->
    <!-- <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script> -->
    <script src="./source.js"></script>
  </body>
</html>
