<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project 2: Crypto Tracker</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Navbar -->

    
    <nav>
      <div class="nav-wrapper #546e7a blue-grey darken-1">
        <a href="#!" class="brand-logo">Crypto Tracker</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Market Cap</a></li>
          <li><a href="#">Watchlist</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a class="waves-effect waves-light btn #f57c00 orange darken-2">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="#">Market Cap</a></li>
          <li><a href="#">Watchlist</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Wallets</a></li>
          <li><a class="waves-effect waves-light btn #f57c00 orange darken-2">Login</a></li>
        </ul>
      </div>
    </nav>
















    </nav>


    <!-- Header -->
    <header id="header">

    </header>

    <!-- Main Section -->
    <section id="main">
      


    </section>


    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/source.js"></script>
  </body>
</html>
