<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project 2: Crypto Tracker</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper #546e7a blue-grey darken-2">
        <a href="/" class="brand-logo">Crypto Tracker</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Market Cap</a></li>
          <li><a href="/watchlist">Watchlist</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="#" class="waves-effect waves-light btn #f57c00 orange darken-2">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="/">Market Cap</a></li>
          <li><a href="/watchlist">Watchlist</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/wallets">Wallets</a></li>
          <li><a class="waves-effect waves-light btn #f57c00 orange darken-2">Login</a></li>
        </ul>
      </div>
    </nav>

    <!-- Main Section -->
    <section id="main">
      <div class="container">
        <div class="row">

          <!-- Side Nav -->
          <div id="side-nav" class="col hide-on-small-only m3 #90a4ae blue-grey lighten-4">
            <h4>Side Nav</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At veritatis saepe harum voluptates placeat possimus sapiente, beatae animi aspernatur iste voluptatibus numquam. Tenetur nemo dicta veniam tempore, doloremque beatae in.</p>
          </div>
          
          <!-- Main Nav -->

          <%- body %>

        </div>
      </div>
    </section>

    <!-- Footer  -->
    <footer id="footer" class="page-footer #546e7a blue-grey darken-2">
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Stuff
        <a class="grey-text text-lighten-4 right" href="https://github.com/ashco">Created by Ashco</a>
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/source.js"></script>
  </body>
</html>
