<!-- Wallets -->
<!-- Mobile -->
<div id="wallets-div" class="col s12 m9 hide-on-med-and-up">
  <h2>Wallets</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>
</div>

<!-- Desktop -->
<div id="wallets-div" class="col s12 m9 hide-on-small-only">
  <h2>You like to switch screensizes, huh?</h2>
</div>