<!-- Watchlist -->

<div id="watchlist-div" class="col s12">
  <h2>Watchlist</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>

  <table id="main-table" class="mdl-data-table bordered highlight" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Change (24h)</th>
        <th>-</th>
      </tr>
    </thead>

      <% watchlistData.forEach(function(wl){ %>
      <tr>
        <td><%= wl.coin.name %></td>
        <td>$$$</td>
        <td>%%%</td>
        <td><button href="/watchlist/<%= wl.coin.name %>" class="watchlist-remove">Remove</button></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

</div>