<!-- Watchlist -->

<div id="watchlist-div" class="col s12 m9">
  <h2>Watchlist</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>
</div>