<!-- Watchlist -->

<div id="watchlist-div" class="col s12">
  <h2>Watchlist</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>

  <table id="main-table" class="mdl-data-table bordered highlight" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Change (24h)</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Bitcoin</td>
        <td>$14,262.00</td>
        <td>8.46%</td>
      </tr>
      <tr>
        <td>Ripple</td>
        <td>$2.27</td>
        <td>1.73%</td>
      </tr>
      <tr>
        <td>Ethereum</td>
        <td>$759.23</td>
        <td>5.80%</td>
      </tr>
    </tbody>
  </table>

</div>