/*#546e7a blue-grey darken-1*/

/*#f57c00 orange darken-2*/

#header {
  /*background-color: #f57c00;*/
}

#market-cap-div h2 {
  font-weight: 500;
}

#market-cap-div small {
  font-weight: 300;
  font-size: 24px;
}