#header {
  /* background-color: #f57c00; */
}

#market-cap-div h2 {
  font-weight: 500;
}

#market-cap-div small {
  font-weight: 300;
  font-size: 24px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#portfolio-add {
  height: 450px;
  width: 400px;
}

.modal-header > h4 {
  color: #fafafa;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.modal-content {
  padding: 12px; 
}

.portfolio-form {
  width: 160px;
}

.portfolio-form-row {
  height: 40px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #DFDFDF;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}

@media (min-width: 600px){
  .mc-break { 
    display: none;
  }
}