/*#546e7a blue-grey darken-1*/

/* #f57c00 orange darken-2 */

/* NAV */
#header {
  /* background-color: #f57c00; */
}

.mobile-nav-header {
  height: 64px;
  font-size: 2.1rem;
  color: #ffffff;
  background-color: #465A63;
}


#market-cap-div h2 {
  font-weight: 500;
}

#market-cap-div small {
  font-weight: 300;
  font-size: 24px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}




/* MODAL */
#portfolio-add {
  height: 450px;
  width: 360px;
}

.modal-header > h5 {
  color: #fafafa;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.modal-content {
  padding: 12px; 
}

.portfolio-form {
  width: 160px;
}

.portfolio-form-row {
  height: 40px;
}